.internet-mobile-container{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    /* position: relative; */
}

/*internet-mobile-title*/


.internet-mobile-title{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.internet-mobile-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.internet-mobile-name img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}


.internet-mobile-name h2{
    font-size: 3rem;
    color: #0095d9;
    font-weight: 600;
}


.internet-mobile-route{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.internet-mobile-route a{
    font-weight: normal;
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-right: 5px;
    cursor: pointer;
}

.internet-mobile-route svg{
    width: 15px;
    height: 15px;
}


/*Hover and animation*/

.internet-mobile-route:hover svg{
    color: #40C3FF;
}

.internet-mobile-route:hover a{
    color:#40C3FF ;
}
.internet-mobile-route a:hover{
    text-decoration-line: underline;
    text-decoration-color: #40C3FF;
}

/*Hover and animation*/

/*internet-mobile-title*/

/*internet-mobile-row*/

.internet-mobile-row{
    padding-right: 5px;
    padding-left: 5px;
    /* height: 100%; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
}


.internet-mobile-row-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    /* gap: 10px; */
    height: 85%;
    max-height: 636px;
    width: 100%;
    overflow: hidden;
}

.internet-mobile-col-3{
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
}


.internet-mobile-row-item{
    /* width: calc(calc(100%-40px)/3); */
    height: 100%;
    padding: 10px 15px 20px;
    /* margin-right: 10px; */
    overflow: hidden;
    /* margin-right: 5px; */
}


.internet-mobile-row-item-box{
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(146, 146, 146, 0.25);
    border-radius: 8px;
    color: #252525;
    cursor: pointer;
}


.internet-mobile-row-item-border{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 2.5px;
    height: 5px;
    background-color: #0095d9;
}


.internet-mobile-row-item-top{
    padding: 10px 8% 20px;
    border-bottom: 0.8px solid #D0DDDD;
}


.internet-mobile-row-item-top h3{
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #E7007F;
}


.internet-mobile-row-item-body{
    padding: 10px 8% 20px;
}


.internet-mobile-row-item-content{
    height: 160px;
    font-size: 1.5rem;
    line-height: 28px;
    overflow-y: hidden;
}


.internet-mobile-row-item-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem !important;
    gap: 10px;
}


.internet-mobile-row-item-price h4{
    font-weight: bold;
    font-size: 30px;
}


.internet-mobile-row-item-price span{
    font-size: 1.4rem;
    font-weight: bold;
}


.internet-mobile-row-item-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top:  0.8px solid #D0DDDD;
    padding: 20px 8% 0px;
}

.internet-mobile-row-item-btn button:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: #fff;
    color: #3aa4f6;
    border: solid 1px #c4c4c4;
    border-radius: 100px;
    width: fit-content;
    padding: 8px 18px;
    cursor: pointer;
    transform: translateX(-300%);
}


.internet-mobile-row-item-btn button:nth-child(1) svg{
    width: 15px;
    height: 15px;
}

.internet-mobile-row-item-btn button:nth-child(2){
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: #3aa4f6;
    color: #fff;
    border: none;
    border-radius: 100px;
    width: fit-content;
    padding: 8px 18px;
    cursor: pointer;
    transform: translateX(-60%);
    transition: all 0.7s ease;
}


/*Hover and animtation*/
.internet-mobile-row-item-box:hover{
    box-shadow: 0 5px 20px 1px #afafaf;
}


.internet-mobile-row-item:hover .internet-mobile-row-item-border{
    background-color: #48acf8;
}

.internet-mobile-row-item:hover .internet-mobile-row-item-btn button:nth-child(1),.internet-mobile-row-item:hover .internet-mobile-row-item-btn button:nth-child(2){
    transform: translateX(0);
    transition: all 0.7s ease;
}

.internet-mobile-row-item:hover .internet-mobile-row-item-btn{
    gap: 15px;
}


.internet-mobile-row-item-btn button:nth-child(2):hover{
    opacity: 0.8;
}

.internet-mobile-row-item-btn button:nth-child(1):hover span{
    color: #196fb0;
}

.internet-mobile-row-item-btn button:nth-child(1):hover svg{
    color: #3AA4F6;
}

.internet-mobile-row-item-btn button:nth-child(1):hover{
    border-color: #3AA4F6;
}

/*Hover and animtation*/

/*internet-mobile-row*/

/*internet-mobile-pagination*/

.internet-mobile-pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.internet-mobile-pagination span{
    /* float: left; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 4px;
    background-color: #9a9a9a;
    opacity: 0.5;
    cursor: pointer;
}


.internet-mobile-pagination span.active{
    background-color: #0095d9 !important;
    opacity: 1;
}

/*internet-mobile-pagination*/

/* internet-responsive */

@media only screen and (max-width:992px)
{
 .internet-mobile-container{
     max-width: 720px;
     margin: auto;
 }   

 .internet-mobile-col-3{
     flex:none;
     max-width: 350px;
 }
 .internet-mobile-row-item{
     width: 320px;
 }
}

@media only screen and (max-width:768px)
{
 .internet-mobile-container{
     max-width: 650px;
 }

 .internet-mobile-col-3{
     flex:none;
     max-width: 320px;
 }
 .internet-mobile-row-item{
     width: 300px;
 }
}

/* internet-mobile-responsive */
