@import 'normalize.css';

:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color:  #f4f7fb;
}

/* .grid{
    width: 1520px;
    
    margin: 0 auto; /*để căn giữa bố cục
    
} */
body{
    margin: 0;
}

.grid__full-width{
    width: 100% !important;
}


a{
    text-decoration: none   ;
}

p{
    margin: 0 0;
}

.card-2{
    flex:0 0 calc((100% - 30px)/2);
    max-width: calc((100% - 30px)/2) ;
}

.card-1{
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
}

.col-md-4{
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
}

.col-md-8{
    flex: 0 0 calc(100%*2/3);
    max-width: calc(100%*2/3);
}

.col-md-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-9{
    flex: 0 0 75%;
    max-width: 75%;
}

.card-md-6{
    flex: 0 0 50%;
    max-width: 50%;
}

// .col-12{
//     flex: 0 0 100%;
//     max-width: 100%;
// }

@media only screen and (max-width:992px){
    .d-lg-table-cell {
        display: table-cell !important;
    }
    
    .d-none {
        display: none !important;
    }
}

.blue-bold{
    font-weight: bold;
    color: #0095D9;
}

@media only screen and (max-width:1200px){
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
}



@media only screen and (min-width:1200px){
    .col-xl-4{
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
}

@media only screen and (max-width:600px){
    .col-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
