.pagination-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    button{
        padding: 0;
        display: inline-block;
        background-color: #5c5c5c;
        height:8px;
        width:8px;
        border-radius: 50%;
        outline: none;
        border: none;
        opacity: 0.4;
        cursor: pointer;
    }

    button.active{
        background-color: #fff;
    }
}