.body-content{
    padding-bottom: 40px;
    background-color: #f4f7fb;
    min-height: 70vh;
    
}

/* @media only screen and (max-width:981px)
{
    .body-content{
        max-width: 720px;
        margin: auto;
    }
} */