

.header-wrapper-top{
  
   color: #5c5c5c;
   height: 35px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}


.header-wrapper-top-a{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    /* padding-right: 15px;
    padding-left: 15px; */
    gap: 8px;
    cursor: pointer;
    
}


.header-wrapper-top-p,.header-wrapper-top-icon{
    font-size: 1.6rem;
}


.header-wrapper{
    /* position: fixed; */
    background-color: #fff;
    /* width: 100%; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* top: 0; */
    z-index: 20;
    height: 60px;
    max-width:100% ; 
}


.container-header{
    margin-right: 9.6px;
    margin-left: 9.6px;
    padding-right: 15px;
    padding-left: 15px;
}


.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: ; */
    height: 100%;
}


.header-wrapper-nav-item-phone,.header-wrapper-nav-item-internet{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 8px;
    cursor: pointer;
}


.header-wrapper-nav-item-phone-img,.header-wrapper-nav-item-internet-img{
    max-width: 20px;
    max-height: 20px;
}


.fa-w-20,.fa-w-16,.fa-w-14
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* xử lý hiệu ứng hover vào các icon, thanh */
.header-wrapper-top-a::after {
    content: '';
    width: 0%;
    left: 3px;
    bottom: -2px;
    height: 1px;
    position: absolute;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.header-wrapper-nav-item-phone::after,.header-wrapper-nav-item-internet::after{
    content: '';
    width: 0%;
    left: 3px;
    bottom: -15px;
    height: 1.5px;
    position: absolute;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header-wrapper-top-a:hover{
    color: #0095d9;
}


.header-wrapper-nav-item-phone:hover,.header-wrapper-nav-item-internet:hover{
    color: #0095d9;
}

.header-wrapper-nav-item-phone:hover .header-wrapper-nav-item-phone-img{
    color: #0095d9;
}


.header-wrapper-top-a:hover::after {
    width: 100%;
    background-color: #0095d9;
}

.header-wrapper-nav-item-phone:hover::after{
    width: 72%;
    background-color: #0095d9;
}

.header-wrapper-nav-item-internet:hover::after{
    width: 80%;
    background-color: #0095d9;
}


.header-wrapper-top-a:hover .header-wrapper-top-icon svg #headset-mic-path {
    fill: #0095d9; /* Màu của biểu tượng khi hover */
  }
  
.fa-w-20:hover,.fa-w-16:hover,.fa-w-14:hover{
    color: #0095d9;
}


.header-wrapper-nav-item-internet:hover img,.header-wrapper-nav-item-phone:hover img{
    filter: invert(60%) sepia(100%) saturate(85) hue-rotate(205deg);
}


/* header-responsive */
@media only screen and (min-width:1536px)
{
    .header-wrapper-top{
        max-width: 100%;
        width: 1520px;
        margin: auto;
    }
    .header-wrapper{
        max-width: 100%;
        width: 1520px;
        margin: auto;
    }
}


@media only screen and (max-width:992px)
{
   .header-wrapper{
    display: none;
   }


   .header-wrapper-fix{
    display: block !important;
    background-color: #fff;
    z-index: 20;
    height: 60px;
    max-width:100%;
     /* align-items: center;
     justify-content: center; */
     
   }

   .container-header{
    margin-right: 9.6px;
    margin-left: 9.6px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    max-width: 720px;
    }

    .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: ; */
    height: 100%;
    }

    .header-content-closebtn{
        display: flex;
        flex-direction: column;
        max-width: 20%;
    }

    .header-content-Mainbtn{
        position: relative;
        height: 2px;
        width: 27px;
        background-color: #0095d9;
        border-radius: 50px;
    }

    .header-content-Mainbtn::before{
        content: '';
        position: absolute;
        height: 2px;
        width: 27px;
        background-color: #0095d9;
        border-radius: 50px;
        right:0;
        left: 0;
        top: 8px;
        margin: auto;
    }

    .header-content-Mainbtn::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 27px;
        background-color: #0095d9;
        border-radius: 50px;
        right:0;
        left: 0;
        bottom: 8px;
        margin: auto;
    }

}

/* header-responsive */